@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: var(--background);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#name-tag {
    display: inline-block;
    background: crimson;
    min-width: 350px;
    max-width: 100%;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 35px;
}

span {
    display: block;
}

#greeting-display {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
    font-weight: 800;
    line-height: 1;
}

#intro-display {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 10px;
    font-weight: 600;
}

#name-display {
    overflow: auto;
    font-size: 3rem;
    padding: 0 20px;
    background: white;
    font-family: 'Gloria Hallelujah', cursive;
}
